.table {
  width: 100%;
}

.table thead th {
  text-align: right;
}

.table thead th:first-child {
  text-align: left;
}

.table tbody th {
  text-align: left;
  font-weight: normal;
}

.table tbody td {
  text-align: right;
}

.quantile_low{
  color: #ababab;
}

.quantile_high{
  color: #ababab;
}