.table {
  margin-top: 20px;
  width: 100%;
}

.table thead th {
  text-align: right;
}

.table thead th:first-child {
  text-align: left;
}

.table tbody th {
  text-align: left;
  font-weight: normal;
}

.table tbody td {
  text-align: right;
}
