.textWarning{
    color : orange;
    font-weight: 400;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.wrapperWarning{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 174, 108);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 9px;
    background-color: rgb(255, 246, 238);
}


